BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
PointerAlignment: Right
ColumnLimit: 100
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
